        .germania-one-regular {
            font-family: "Germania One", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: 'Germania One';
            color: #ffffff;
            background-color: #0A2463;
        }

        h1 {
            text-align: center;
        }

        img {
            width: 20%;
            margin: auto;
            padding: 10px;
        }

        li {
            color:#EDE3E9 ;}